

<div class="reset-password-form">
    <h2>Reset Password</h2>

    <% if (error) { %>
        <div class="alert alert-danger">
            <%= error %> 
        </div>
    <% } %>

    <form action="/reset-password/<%= token %>" method="POST">
        <input type="password" name="password" placeholder="Enter your new password" required>
        <button type="submit">Reset Password</button>
    </form>
    
    <p>Remembered your password? <a href="/login">Login here</a></p>
</div>


